{% extends 'base.html' %}
{% block title  %}about{% endblock title %}

 
{% block body  %}<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d144450.65738253717!2d72.95731883350106!3d19.183055592938494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x430a682f20cc04ca!2sBarbeque%20Central!5e1!3m2!1sen!2sin!4v1600508168724!5m2!1sen!2sin" width="1500" height="800" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fedXUYBzPovea_g7BJs21krSg0RKEmu5" width="640" height="480"></iframe>{% endblock body  %}