{%extends 'base.html'%}
{% block body  %}
{%load static%}
<h1>user profile</h1>
{{ page_user }}

<div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-2">
{% if page_user.profile_pic %}
      <img src="{{page_user.profile_pic.url }}"  width=200 height=200 >

{%else%}
    <img src="{% static 'img/profile.jpg'%}" class="card-img" width=200 height=200 >
{% endif %}
    
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">Neha Jaiswal</h5>
        <p class="card-text">{{page_user.bio}}</p>
      </div>
    </div>
  </div>
</div>


<br/>
<br/>



{% endblock body  %}